body {
  font-family: "Lato", sans-serif;
}

main{
    margin-top: 150px;
}

/**************************************
              calendar
**************************************/
.calendar{
    height: 800px;
}

.dateHead div {
    background: #B8ABDF;
    color: #fff;
    text-align: center;
    border-radius: 5px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
  }
  
  .grid div {
    padding: .6rem;
    font-size: .9rem;
    cursor: pointer;
  }
  
  .dateBoard div {
    color: #222;
    font-weight: bold;
    min-height: 6rem;
    padding: .6rem .8rem;
    border-radius: 5px;
    border: 1px solid #eee;
  }
  
  .noColor {
    background: #eee;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
  
  /* 좌우 버튼 */
  .btn {
   display: block;
   width: 20px;
   height: 20px;
   border: 3px solid #000;
   border-width: 3px 3px 0 0;
   cursor: pointer;
  }
  
  .prevDay {
    transform: rotate(-135deg);
  }
  
  .nextDay {
    transform: rotate(45deg);
  }
  
  /* ---- */
  
  @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
  
  * {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;  
    font-family: Pretendard;
  }
  
  .rap {
    max-width: 820px;
    padding: 0 1.4rem;
    margin-top: 1.4rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .dateHead {
    margin: .4rem 0;
  }

/**************************************
        자주 가는 사이트 링크
**************************************/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  transition: 0.3s;
  position: relative;
}

.link-to-web {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
}

.link-to-web div {
  width: 300px;
  text-align: left;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.btn-linkemenu {
  position: fixed;
  left: 40px;
  bottom: 40px;
  width: 60px;
  height: 60px;
  background-image: url(../images/circle-plus-solid.svg);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/**************************************
              footer
**************************************/
footer {
  background-color: #f0f0f0;
  padding: 20px;
  margin: 20px 0 0 0;
  text-align: center;
}

/**************************************
              photo
**************************************/
.photos-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.photo-wrapper > img{
    height: 300px;
}

/**************************************
              schedule
**************************************/
.schedule-wrapper li{
    text-align: center;
}

.schedule-wrapper a{
    text-decoration: none;
    color: #6a75ca;
}

.schedule-wrapper a:hover{
    color: black;
}